@font-face {
    font-family: 'Anonymous';
    src: url(fonts/AnonymousProBold.ttf);
}

@font-face {
    font-family: 'MyDisplay';
    src: url(fonts/MyDisplay.ttf);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #1a1b26;
    color: #d8dee9;
    min-height: 400px;
}

button {
    background-color: #1a1b26;
    color: #d8dee9;
    border: solid 3px;
    border-color: #414868;
    border-radius: 10px;
    margin: 2px;
    font-family: 'Anonymous';
    font-size: 22px;
}

button:hover {
    background-color: #414868;
}

.calc-box {
    background-color: inherit;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    position: sticky;
    width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 5px #414868;
    border-radius: 20px;
}

.calc-screen {
    padding-right: 5px;
    background-color: #414868;
    border-radius: 5px;
    min-height: 50px;
    margin-bottom: 20px;
    text-align: right;
    font-family: 'MyDisplay';
}

.calc-button-grid {
    display: grid;
    height: 350px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.operators {
    border-color: #7aa2f7;
}

#equals {
    grid-row: span 2;
    border-color: #9ece6a;
}

#clear {
    border-color: #f7768e;
}

#backspace {
    border-color: #bb9af7;
}

#decimal {
    border-color: #2ac3de;
}

#back {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
    border: solid 5px #414868;
    padding: 10px;
    font-size: 1rem;
}
